html {
    font-size: 125%; /* 20÷16=125% */
}
@media only screen and (min-width: 415px) {
  html,body {
    font-size: 80.86%;
  }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 188%!important; /* 30.08÷16=188% */
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 218%!important; /* 34.88÷16=218% */
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 250%!important; /* 40÷16=250% */
    }
}
